# Node.js
node_modules/
npm-debug.log

# .env files for sensitive information
.env
.env.local
.env.development
.env.test

# Next.js build
/.next
/out

# Strapi build
/build

# macOS files
.DS_Store

# IDE files (if you're using VSCode, for example)
.vscode/
.idea/

# Log files
*.log
